:root {
  color-scheme: dark light;
  --md-ref-typeface-brand: system-ui;
  --md-ref-typeface-plain: system-ui;

  --md-sys-color-background: #0f1418;
  --md-sys-color-on-background: #dee3e9;
  --md-sys-color-surface: #0f1418;
  --md-sys-color-surface-dim: #0f1418;
  --md-sys-color-surface-bright: #343a3f;
  --md-sys-color-surface-container-lowest: #090f13;
  --md-sys-color-surface-container-low: #171c21;
  --md-sys-color-surface-container: #1b2025;
  --md-sys-color-surface-container-high: #252b2f;
  --md-sys-color-surface-container-highest: #30353a;
  --md-sys-color-on-surface: #dee3e9;
  --md-sys-color-surface-variant: #3e4851;
  --md-sys-color-on-surface-variant: #bdc8d2;
  --md-sys-color-inverse-surface: #dee3e9;
  --md-sys-color-inverse-on-surface: #2c3136;
  --md-sys-color-outline: #88929c;
  --md-sys-color-outline-variant: #3e4851;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8bceff;
  --md-sys-color-primary: #8cceff;
  --md-sys-color-on-primary: #00344e;
  --md-sys-color-primary-container: #00a8f0;
  --md-sys-color-on-primary-container: #00131f;
  --md-sys-color-inverse-primary: #006492;
  --md-sys-color-secondary: #a2cbec;
  --md-sys-color-on-secondary: #00344e;
  --md-sys-color-secondary-container: #16435f;
  --md-sys-color-on-secondary-container: #b0dafb;
  --md-sys-color-tertiary: #eab6ff;
  --md-sys-color-on-tertiary: #500173;
  --md-sys-color-tertiary-container: #cb83ed;
  --md-sys-color-on-tertiary-container: #250038;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
}

@media (prefers-color-scheme: light) {
  :root {
    --md-sys-color-background: #f6faff;
    --md-sys-color-on-background: #171c21;
    --md-sys-color-surface: #f6faff;
    --md-sys-color-surface-dim: #d6dae1;
    --md-sys-color-surface-bright: #f6faff;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #eff4fa;
    --md-sys-color-surface-container: #eaeef5;
    --md-sys-color-surface-container-high: #e4e9ef;
    --md-sys-color-surface-container-highest: #dee3e9;
    --md-sys-color-on-surface: #171c21;
    --md-sys-color-surface-variant: #d9e4ef;
    --md-sys-color-on-surface-variant: #3e4851;
    --md-sys-color-inverse-surface: #2c3136;
    --md-sys-color-inverse-on-surface: #ecf1f8;
    --md-sys-color-outline: #6e7882;
    --md-sys-color-outline-variant: #bdc8d2;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #006492;
    --md-sys-color-primary: #006492;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #47baff;
    --md-sys-color-on-primary-container: #00283e;
    --md-sys-color-inverse-primary: #8bceff;
    --md-sys-color-secondary: #39627f;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #bee1ff;
    --md-sys-color-on-secondary-container: #1c4864;
    --md-sys-color-tertiary: #8440a5;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #dd93ff;
    --md-sys-color-on-tertiary-container: #40005c;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
  }
}

body {
  width: 640px;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: center;
  gap: 24px;
  margin: 24px;

  background-color: var(--md-sys-color-surface);
}

h1 {
  grid-column: 1 / -1;
  margin: 0;
}

.delete {
  --md-sys-color-on-surface-variant: #e74343;
}

.new-rule {
  grid-column: 1 / -1;
  justify-self: start;
}
